<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.genius.mapper.AdminMainMapper">
    <select id="todaySummary" resultType="org.fullstack4.genius.dto.StatisticsDTO">
        SELECT CASE WHEN SUM(amount) IS NULL THEN 0 ELSE SUM(amount) END AS todayOrderCnt
        , CASE WHEN SUM(amount * price) IS NULL THEN 0 ELSE SUM(amount * price) END AS todayOrderPrice
        , COUNT(DISTINCT TM.member_id) AS todayOrderMember
        FROM tbl_release AS TR
        INNER JOIN tbl_order AS TOR ON TR.order_num = TOR.order_num
        INNER JOIN tbl_member AS TM ON TOR.member_id = TM.member_id
        WHERE DATE(TR.release_date) = DATE(NOW())
    </select>
    <select id="totalSummary" resultType="org.fullstack4.genius.dto.StatisticsDTO">
        SELECT CASE WHEN SUM(amount) IS NULL THEN 0 ELSE SUM(amount) END AS totalOrderCnt
        , CASE WHEN SUM(amount * price) IS NULL THEN 0 ELSE SUM(amount * price) END AS totalOrderPrice
        , COUNT(DISTINCT TM.member_id) AS totalOrderMember
        FROM tbl_release AS TR
        INNER JOIN tbl_order AS TOR ON TR.order_num = TOR.order_num
        INNER JOIN tbl_member AS TM ON TOR.member_id = TM.member_id
    </select>
    <select id="todayClass" resultType="org.fullstack4.genius.dto.StatisticsDTO">
        SELECT  TC.category_code, TC.name, CASE WHEN SUM(TR.amount * TR.price) IS NULL THEN 0 ELSE SUM(TR.amount * TR.price) END AS total
        FROM (
            SELECT category_class_code, release_date, amount, price FROM tbl_release WHERE DATE(release_date) = DATE(NOW())
        ) AS TR
        RIGHT OUTER JOIN tbl_class_category AS TC ON TR.category_class_code = TC.category_code
        GROUP BY TC.category_code
    </select>
    <select id="totalClass" resultType="org.fullstack4.genius.dto.StatisticsDTO">
        SELECT  TC.category_code, TC.name, CASE WHEN SUM(TR.amount * TR.price) IS NULL THEN 0 ELSE SUM(TR.amount * TR.price) END AS total
        FROM tbl_release AS TR
        RIGHT OUTER JOIN tbl_class_category AS TC ON TR.category_class_code = TC.category_code
        GROUP BY TC.category_code
    </select>
    <select id="todaySubject" resultType="org.fullstack4.genius.dto.StatisticsDTO">
        SELECT  TS.category_code, TS.name, CASE WHEN SUM(TR.amount * TR.price) IS NULL THEN 0 ELSE SUM(TR.amount * TR.price) END AS total
        FROM (
            SELECT category_subject_code, release_date, amount, price FROM tbl_release WHERE DATE(release_date) = DATE(NOW())
        ) AS TR
        RIGHT OUTER JOIN tbl_subject_category AS TS ON TR.category_subject_code = TS.category_code
        GROUP BY TS.category_code
    </select>
    <select id="totalSubject" resultType="org.fullstack4.genius.dto.StatisticsDTO">
        SELECT  TS.category_code, TS.name, CASE WHEN SUM(TR.amount * TR.price) IS NULL THEN 0 ELSE SUM(TR.amount * TR.price) END AS total
        FROM tbl_release AS TR
        RIGHT OUTER JOIN tbl_subject_category AS TS ON TR.category_class_code = TS.category_code
        GROUP BY TS.category_code
    </select>
</mapper>