<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.genius.mapper.BannerMapper">
    <sql id="whereConditionForBanner">
        <where>
            <if test="search_category == 'all'">
                (TB.title LIKE CONCAT('%', #{search_word}, '%') OR TB.member_id LIKE CONCAT('%', #{search_word}, '%') OR TM.member_name LIKE CONCAT('%', #{search_word}, '%'))
            </if>
            <if test="search_category == 'title'">
                TB.title LIKE CONCAT('%', #{search_word}, '%')
            </if>
            <if test="search_category == 'member_id'">
                TB.member_id LIKE CONCAT('%', #{search_word}, '%')s
            </if>
            <if test="search_category == 'member_name'">
                TM.member_name LIKE CONCAT('%', #{search_word}, '%')
            </if>
            <if test="search_data1 != null and !search_data1.equals('')">
                AND TB.post_start_date <![CDATA[>=]]> #{search_data1}
            </if>
            <if test="search_data2 != null and !search_data2.equals('')">
                AND TB.post_end_date <![CDATA[<=]]> #{search_data2}
            </if>
                AND TB.banner_status = 'Y'
        </where>
    </sql>
    <select id="list" resultType="org.fullstack4.genius.domain.BannerVO">
        SELECT TB.banner_img_idx, TB.title, TB.banner_status, TB.save_name, TB.original_name, TB.path, TB.member_id, TM.member_name, DATE(TB.reg_date) AS reg_date, TB.modify_date, TB.post_start_date, TB.post_end_date, TB.`order`
        FROM tbl_banner AS TB
        INNER JOIN tbl_member AS TM ON TM.member_id = TB.member_id
        <include refid="whereConditionForBanner" />
        ORDER BY TB.reg_date DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>
    <select id="orderList" resultType="org.fullstack4.genius.domain.BannerVO">
        SELECT TB.banner_img_idx, TB.title, TB.banner_status, TB.save_name, TB.original_name, TB.path, TB.member_id, TM.member_name, DATE(TB.reg_date) AS reg_date, TB.modify_date, TB.post_start_date, TB.post_end_date, TB.`order`
        FROM tbl_banner AS TB
        INNER JOIN tbl_member AS TM ON TM.member_id = TB.member_id
        WHERE TB.banner_status = 'Y'
        ORDER BY TB.`order` ASC
    </select>
    <select id="totalCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_banner AS TB
        INNER JOIN tbl_member AS TM ON TM.member_id = TB.member_id
        <include refid="whereConditionForBanner" />
    </select>
    <select id="view" resultType="org.fullstack4.genius.domain.BannerVO">
        SELECT TB.banner_img_idx, TB.title, TB.banner_status, TB.save_name, TB.original_name, TB.path, TB.member_id, TM.member_name, TB.reg_date, TB.modify_date, TB.post_start_date, TB.post_end_date, TB.`order`
        FROM tbl_banner AS TB
        INNER JOIN tbl_member AS TM ON TM.member_id = TB.member_id
        WHERE TB.banner_img_idx = #{banner_img_idx}
    </select>
    <insert id="regist">
        INSERT INTO tbl_banner (title, save_name, original_name, path, member_id, post_start_date, post_end_date, `order`)
        VALUES (#{title}, #{save_name}, #{original_name}, #{path}, #{member_id}, #{post_start_date}, #{post_end_date},
            (SELECT * FROM (SELECT (MAX(`order`)+1) AS 'order' FROM tbl_banner WHERE banner_status = 'Y') AS temp)
        )
    </insert>
    <update id="modify">
        UPDATE tbl_banner
        SET title = #{title},
            save_name = #{save_name},
            original_name = #{original_name},
            path = #{path},
            modify_date = NOW(),
            post_start_date = #{post_start_date},
            post_end_date = #{post_end_date}
        WHERE banner_img_idx = #{banner_img_idx}
    </update>
    <update id="delete">
        UPDATE tbl_banner
        SET banner_status = 'N',
            modify_date = NOW()
        WHERE banner_img_idx = #{banner_img_idx}
    </update>
    <update id="changeOrder">
        UPDATE tbl_banner
        SET `order` = #{order}
        WHERE banner_img_idx = #{banner_img_idx}
    </update>
</mapper>