<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.genius.mapper.BbsMapper">

    <sql id="whereCondition">
        <where>
            category_code = #{category_code}
            <if test=' search_word != null and search_word != "" '>
                <choose>
                    <when test="type == 0">
                        AND member_id LIKE CONCAT('%', #{search_word}, '%')
                        OR bbs_title LIKE CONCAT('%', #{search_word}, '%')
                        OR bbs_contents LIKE CONCAT('%', #{search_word}, '%')
                    </when>
                    <when test="type == 1">
                        AND member_id LIKE CONCAT('%', #{search_word}, '%')
                    </when>
                    <when test="type == 2">
                        AND bbs_title LIKE CONCAT('%', #{search_word}, '%')
                    </when>
                    <when test="type == 3">
                        AND bbs_contents LIKE CONCAT('%', #{search_word}, '%')
                    </when>
                </choose>
            </if>
            <if test="search_date1 != null or search_date2 != null">
                <if test="search_date1 != null">
                    AND reg_date <![CDATA[>=]]> #{search_date1}
                </if>
                <if test="search_date2 != null">
                    AND reg_date <![CDATA[<]]> #{search_date2} + INTERVAL 1 DAY
                </if>
            </if>
        </where>
    </sql>
    
    <select id="view" resultType="org.fullstack4.genius.domain.BbsVO">
        SELECT bbs.bbs_idx, bbs_title, bbs.category_code, bbs.member_id, mem.member_name, bbs.fileYN, bbs_contents, bbs.reg_date, bbs.read_cnt, bbs.modify_date
        FROM tbl_bbs AS bbs
        INNER JOIN tbl_member AS mem
        ON mem.member_id = bbs.member_id AND mem.status = "Y"
        WHERE bbs.bbs_idx = #{bbs_idx}
    </select>

    <select id="preView" resultType="org.fullstack4.genius.domain.BbsVO">
        SELECT bbs_idx, bbs_title, category_code, fileYN, reg_date, modify_date
        FROM tbl_bbs
        WHERE category_code = #{category_code} AND bbs_idx <![CDATA[<]]> #{bbs_idx}
        ORDER BY bbs_idx DESC
        LIMIT 1
    </select>

    <select id="postView" resultType="org.fullstack4.genius.domain.BbsVO">
        SELECT bbs_idx, bbs_title, category_code, fileYN, reg_date, modify_date
        FROM tbl_bbs
        WHERE category_code = #{category_code} AND bbs_idx <![CDATA[>]]> #{bbs_idx}
        ORDER BY bbs_idx ASC
        LIMIT 1
    </select>

    <select id="listAll" resultType="org.fullstack4.genius.domain.BbsVO">
        SELECT bbs_idx, bbs_title, category_code, member_id, fileYN, bbs_contents, reg_date, read_cnt, modify_date
        FROM tbl_bbs
        WHERE category_code = #{category_code}
        ORDER BY bbs_idx DESC
    </select>

    <select id="bbsListByPage" resultType="org.fullstack4.genius.domain.BbsVO">
        SELECT bbs_idx, bbs_title, category_code, bbs.member_id, mem.member_name, fileYN, bbs_contents, bbs.reg_date, read_cnt, bbs.modify_date
        FROM tbl_bbs AS bbs
        inner JOIN tbl_member AS mem
        ON mem.member_id = bbs.member_id AND mem.status = "Y"
        <include refid="whereCondition"></include>
        ORDER BY bbs_idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <insert id="regist">
        INSERT INTO tbl_bbs (bbs_title, category_code, member_id, fileYN, bbs_contents, reg_date, read_cnt)
        VALUES(#{bbs_title}, #{category_code}, #{member_id}, #{fileYN}, #{bbs_contents}, NOW(), 0)
    </insert>

    <update id="modify">
        UPDATE tbl_bbs SET
            bbs_title = #{bbs_title}
            , modify_date = NOW()
            , fileYN = #{fileYN}
            , bbs_contents = #{bbs_contents}
        WHERE bbs_idx = #{bbs_idx}
    </update>

    <delete id="delete">
        DELETE
        FROM tbl_bbs
        WHERE bbs_idx = #{bbs_idx}
    </delete>



    <select id="bbsTotalCount">
        SELECT COUNT(*)
        FROM tbl_bbs
        <include refid="whereCondition"></include>
    </select>

</mapper>