<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.genius.mapper.BbsMapper">



    <select id="listAll" resultType="org.fullstack4.genius.domain.BbsVO">
        SELECT bbs_idx, bbs_title, category_code, member_id, fileYN, replyYN, bbs_contents, reg_date, read_cnt
        FROM tbl_bbs
        ORDER BY bbs_idx DESC
    </select>

</mapper>