<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.genius.mapper.CartMapper">
    <insert id="regist">
        INSERT INTO tbl_cart(member_id,book_code,quantity,reg_date) VALUES (#{member_id},#{book_code},#{quantity},NOW())
    </insert>
    <select id="listAll" resultType="org.fullstack4.genius.domain.CartVO">
        select cart_idx,member_id,A.book_code,A.quantity,reg_date,B.book_name,B.price,B.book_img
        from tbl_cart as A
        INNER JOIN tbl_book AS B on B.book_code=A.book_code
        where member_id=#{member_id}
    </select>

    <delete id="delete">
        delete from tbl_cart
        where cart_idx=#{cart_idx} AND member_id=#{member_id}
    </delete>

    <select id="exist" resultType="int">
        SELECT COUNT(*)
        from tbl_cart
        where book_code=#{param1}
    </select>

    <update id="updateCart">
        UPDATE tbl_cart SET quantity = quantity+#{quantity}
        where book_code = #{book_code} and member_id=#{member_id}
    </update>

</mapper>