<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.genius.mapper.OrderMapper">

    <sql id="whereCondition">
        <where>
                <if test=' search_word != null and search_word != "" '>
                    <choose>
                        <when test="type2 == '' or type2 == null">
                            AND a.order_num LIKE CONCAT('%', #{search_word}, '%')
                            OR a.member_id LIKE CONCAT('%', #{search_word}, '%')
                            OR b.delivery_company LIKE CONCAT('%', #{search_word}, '%')
                        </when>
                        <when test="type2 == 1">
                            AND a.order_num LIKE CONCAT('%', #{search_word}, '%')
                        </when>
                        <when test="type2 == 2">
                            AND a.member_id LIKE CONCAT('%', #{search_word}, '%')
                        </when>
                        <when test="type2 == 3">
                            AND a.delivery_company LIKE CONCAT('%', #{search_word}, '%')
                        </when>
                    </choose>
                </if>
                <choose>
                    <when test="type == 1">
                        AND a.order_state = '배송 전'
                    </when>
                    <when test="type == 2">
                        AND a.order_state = '배송 중'
                    </when>
                    <when test="type == 3">
                        AND a.order_state = '배송 완료'
                    </when>
                    <when test="type == 4">
                        AND a.order_state = '환불 요청'
                    </when>
                    <when test="type == 5">
                        AND a.order_state = '환불 완료'
                    </when>
                    <when test="type == 6">
                        AND a.order_state = '환불 불가'
                    </when>

                </choose>

            <if test="search_date1 != null or search_date2 != null">
                <if test="search_date1 != null">
                    AND a.order_date <![CDATA[>=]]> #{search_date1}
                </if>
                <if test="search_date2 != null">
                    AND a.order_date <![CDATA[<]]> #{search_date2} + INTERVAL 1 DAY
                </if>
            </if>
        </where>
    </sql>


    <select id="view" resultType="org.fullstack4.genius.domain.OrderVO">
        select order_idx,order_num,member_id,order_date,cancel_YN,cancel_date,total_price,order_state,order_refund_request,order_refund_response
        FROM tbl_order
        where member_id=#{param1}
    </select>

    <select id="listAll" resultType="org.fullstack4.genius.domain.OrderVO">
        select order_idx,order_num,member_id,order_date,cancel_YN,cancel_date,total_price,order_state,order_refund_request,order_refund_response
        FROM tbl_order
        where member_id=#{param1}
    </select>

    <select id="AdminlistAll" resultType="org.fullstack4.genius.domain.OrderVO">
        select a.order_idx,a.order_num,a.member_id,a.order_date,a.cancel_YN,a.cancel_date,a.total_price,a.order_state,a.order_refund_request,a.order_refund_response,b.delivery_start_date,b.delivery_end_date,b.delivery_company
        FROM tbl_order AS a
        INNER JOIN tbl_delivery AS b ON a.order_num = b.order_num
    </select>

    <select id="orderDetail" resultType="org.fullstack4.genius.domain.OrderVO">
        select orderdetail_idx,order_num,book_code,category_class_code,category_subject_code,order_state,order_date,price,total_price,amount
        FROM tbl_orderdetail
        where order_num=#{param1}
    </select>
    <select id="reviewConfirm" resultType="org.fullstack4.genius.domain.OrderVO">
        select tor.order_idx, tor.order_num, tod.book_code, tor.member_id
        FROM tbl_order as tor inner join tbl_orderdetail as tod
            on tor.order_num = tod.order_num
        WHERE member_id= #{member_id}
    </select>

    <update id="cancelOrder">
        UPDATE tbl_order SET cancel_YN = #{cancel_YN} , cancel_date = NOW(), order_state=#{order_state}
        where order_num =#{order_num}
    </update>

    <insert id="regist">
        INSERT INTO tbl_order(order_num,member_id,order_date,total_price,order_state,order_name,order_phone,order_addr1,order_addr2,order_zipcode)
        VALUES(#{order_num}
        ,#{member_id}
        ,NOW()
        ,#{total_price}
        ,#{order_state}
        ,#{order_name}
        ,#{order_phone}
        ,#{order_addr1}
        ,#{order_addr2}
        ,#{order_zipcode})
    </insert>

    <insert id="detailregist">
        INSERT INTO tbl_orderdetail(order_num,book_code,category_class_code,category_subject_code,order_state,order_date,price,total_price,amount)
        VALUES(#{order_num} ,#{book_code} ,#{category_class_code} ,#{category_subject_code} ,'배송 전' ,NOW() ,#{price} ,#{total_price} ,#{amount})
    </insert>

    <insert id="deliveryRegist">
        INSERT INTO tbl_delivery(order_num,member_id,total_price,delivery_addr1,delivery_addr2,delivery_state)
        VALUES(
        #{order_num}
        ,#{member_id}
        ,#{total_price}
        ,#{delivery_addr1}
        ,#{delivery_addr2}
        ,'배송 전'
        )

    </insert>


    <select id="OrderTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_order AS a
        INNER JOIN tbl_delivery AS b ON a.order_num = b.order_num
        <include refid="whereCondition"></include>
    </select>

    <select id="OrderListByPage" resultType="org.fullstack4.genius.domain.OrderVO">
        select a.order_idx,a.order_num,a.member_id,a.order_date,a.cancel_YN,a.cancel_date,a.total_price,a.order_state,a.order_refund_request,a.order_refund_response,b.delivery_start_date,b.delivery_end_date,b.delivery_company
        FROM tbl_order AS a
        INNER JOIN tbl_delivery AS b ON a.order_num = b.order_num
        <include refid="whereCondition"></include>
        ORDER BY a.order_idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <update id="updateDcompany">
        UPDATE tbl_delivery SET
        delivery_company = #{delivery_company}
        ,delivery_start_date = NOW()
        ,delivery_end_date = ADDDATE(NOW(), INTERVAL 2 DAY)
        ,delivery_state = #{delivery_state}
        WHERE order_num = #{order_num}
    </update>

    <update id="updateOrderState">
        UPDATE tbl_order SET
        order_state = #{order_state}
        WHERE order_num = #{order_num}
    </update>

    <update id="updateOrderDcompany">
        UPDATE tbl_delivery SET
        delivery_company = #{delivery_company}
    </update>

    <select id="AdminOrderdetail">
        SELECT a.order_num,a.member_id,a.order_date,a.cancel_YN,a.cancel_date,a.order_state,a.order_name,a.order_phone,a.order_addr1,a.order_addr2,a.order_zipcode,a.order_refund_request,a.order_refund_response,a.total_price
        ,b.price,b.amount,b.book_code
        ,c.delivery_state,c.delivery_company,c.delivery_start_date,c.delivery_end_date,delivery_code
        ,TM.member_name,TM.phone
        ,TB.book_name
        FROM tbl_order AS a
        INNER JOIN tbl_orderdetail AS b ON a.order_num = b.order_num
        INNER JOIN tbl_delivery AS c ON a.order_num = c.order_num
        INNER JOIN tbl_member AS TM ON a.member_id = TM.member_id
        INNER JOIN tbl_book AS TB ON b.book_code = TB.book_code
        WHERE a.order_num = #{order_num}
    </select>

    <update id="requestRefund">
        UPDATE tbl_order
        SET order_refund_request = #{order_refund_request},order_state=#{order_state}
        WHERE order_num = #{order_num}

    </update>

    <update id="responseRefund">
        UPDATE tbl_order
        SET order_refund_response = #{order_refund_response}
        WHERE order_num = #{order_num}

    </update>

    <update id = "deliveryEndDate">
        UPDATE tbl_delivery
        SET delivery_end_date = #{delivery_end_date}
        WHERE order_num = #{order_num}
    </update>

    <select id="orderDetailTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_orderdetail
        WHERE order_num = #{param1}
    </select>
</mapper>