<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.genius.mapper.PaymentMapper">
    <select id="view" resultType="org.fullstack4.genius.domain.PaymentVO">
    select payment_idx,payment_num,member_id,price,method,company
    from tbl_payment
    where member_id=#{param1}
    </select>

    <insert id="charge">
        INSERT INTO tbl_payment(payment_num,member_id,price,method,company)
        VALUES (#{payment_num},#{member_id},#{price},#{method},#{company})
    </insert>
</mapper>