<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.genius.mapper.QnaMapper">
    
<!--    <select id="view" resultType="org.fullstack4.genius.domain.QnaVO">-->
<!--        SELECT bbs.bbs_idx, bbs_title, bbs.category_code, member_id, fileYN, replyYN, bbs_contents, bbs.reg_date, read_cnt-->
<!--&lt;!&ndash;            , reply_idx, reply_contents, reply.reg_date, modify_date, ref_idx&ndash;&gt;-->
<!--        FROM tbl_bbs AS bbs-->
<!--&lt;!&ndash;        INNER JOIN tbl_bbs_reply AS reply&ndash;&gt;&lt;!&ndash;WHERE replyYN = "Y" 조건..&ndash;&gt;-->
<!--&lt;!&ndash;        ON reply.bbs_idx = bbs.bbs_idx&ndash;&gt;-->
<!--        WHERE bbs.bbs_idx = #{idx}-->
<!--    </select>-->
    <sql id="whereCondition">
        <where>
            <if test='search_word != null and search_word !=""'>
                <choose>
                    <when test="type == 0">
                        OR tm.member_name LIKE CONCAT('%', #{search_word}, '%')
                        OR title LIKE CONCAT('%', #{search_word}, '%')
                        OR contents LIKE CONCAT('%', #{search_word}, '%')
                    </when>
                    <when test="type == 1">
                        AND tm.member_name LIKE CONCAT('%', #{search_word}, '%')
                    </when>
                    <when test="type == 2">
                        AND title LIKE CONCAT('%', #{search_word}, '%')
                    </when>
                    <when test="type == 3">
                        AND contents LIKE CONCAT('%', #{search_word}, '%')
                    </when>
                </choose>
            </if>
            <if test="search_date1 != null or search_date2 != null">
                <if test="search_date1 != null">
                    AND tq.reg_date <![CDATA[>=]]> #{search_date1}
                </if>
                <if test="search_date2 != null">
                    AND tq.reg_date <![CDATA[<]]> #{search_date2} + INTERVAL 1 DAY
                </if>
            </if>
            <if test='member_id != null and member_id !=""'>
                AND ref_idx in (
                    SELECT ref_idx
                    FROM tbl_qna
                    WHERE member_id = #{member_id}
                )
            </if>
        </where>
    </sql>
    <select id="qnaTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_qna as tq inner join tbl_member as tm
        ON tq.member_id = tm.member_id
        <include refid="whereCondition"></include>
    </select>

    <select id="qnaListByPage" resultType="org.fullstack4.genius.domain.QnaVO">
        SELECT qna_idx, title, contents, tq.member_id, tm.member_name, answerYN, fileYN, answerStatus, category_code, read_cnt, ref_idx, tq.reg_date, tq.modify_date
        FROM tbl_qna as tq inner join tbl_member as tm
            ON tq.member_id = tm.member_id
        <include refid="whereCondition"></include>
        ORDER BY ref_idx DESC, qna_idx
        LIMIT #{page_skip_count}, #{page_size}
    </select>
    <select id="view" resultType="org.fullstack4.genius.domain.QnaVO">
        SELECT qna_idx, title, contents, tq.member_id, tm.member_name, answerYN, answerStatus, category_code, read_cnt, ref_idx, tq.reg_date, tq.modify_date, tq.fileYN
        FROM tbl_qna as tq inner join tbl_member as tm
        ON tq.member_id = tm.member_id
        WHERE qna_idx = #{idx}
    </select>
    <update id="readCount">
        UPDATE tbl_qna SET
            read_cnt = read_cnt + 1
        WHERE qna_idx = #{idx}
    </update>
    <select id="listAll" resultType="org.fullstack4.genius.domain.QnaVO">
        SELECT qna_idx, title, contents, member_id, answerYN, category_code, read_cnt, ref_idx, reg_date, modify_date, fileYN
        FROM tbl_qna
<!--        WHERE category_code = #{category_code}-->
        ORDER BY ref_idx DESC, qna_idx
    </select>

    <insert id="regist" parameterType="org.fullstack4.genius.domain.QnaVO" useGeneratedKeys="true" keyProperty="qna_idx" keyColumn="qna_idx">
        INSERT INTO tbl_qna (answerYN, title, contents, reg_date, read_cnt, member_id, fileYN)
        VALUES('N', #{title}, #{contents}, NOW(), 0, #{member_id}, #{fileYN})
    </insert>
    <insert id="answerRegist" parameterType="org.fullstack4.genius.domain.QnaVO" useGeneratedKeys="true" keyProperty="qna_idx" keyColumn="qna_idx">
        INSERT INTO tbl_qna (answerYN, title, contents, reg_date, read_cnt, member_id, fileYN, ref_idx)
        VALUES('Y', #{title}, #{contents}, NOW(), 0, #{member_id}, #{fileYN}, #{ref_idx})
    </insert>
    <update id="refModify">
        UPDATE tbl_qna SET
            ref_idx = #{qna_idx}
        WHERE qna_idx = #{qna_idx} AND answerYN = 'N'
    </update>
    <select id="totalCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_qna
    </select>
    <delete id="answerDelete">
        DELETE
        FROM tbl_qna
        WHERE ref_idx = #{idx}
    </delete>

    <update id="modify">
        UPDATE tbl_qna SET
            title = #{title}
            , modify_date = NOW()
<!--            , fileYN = #{fileYN}-->
            , contents = #{contents}
        WHERE qna_idx = #{qna_idx}
    </update>

    <delete id="delete">
        DELETE
        FROM tbl_qna
        WHERE qna_idx = #{qna_idx}
    </delete>

</mapper>